@charset "utf-8";
/* CSS Document */

.clearfloat {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}

#logoAndNav {
	background: #dddddd repeat-x;
	height: 145px;
	border-top: 10px solid #000;
	min-width: 1200px;
}
#log {
	background-color: #5bacb6;
	width: 100%;
	height: 62.1%;
	margin: 0 auto;
	position: relative;
	
}
#logo {margin-top: 5px;
	margin-left: 15px;
	/*width: 12%;*/
	height: 94%;
	float: left;
}
#entry {z-index: 1;
	font-size: 17px;
	position:absolute;top:96px;right: 10px;
}
#entry a {
	
	font-weight: bold;

}
#entry strong {
	color: #a9b1b1;
	font-size: 20px;
}
#logon {
	background:url(../../Images/logon.png) no-repeat;
	width: 156px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	color: #fff;
	font-size: 100%;
}
#logon:hover{background:url(../../Images/logonhover.png);}
#login {
	background:url(../../Images/login.png) no-repeat;
	width: 47px;
	height: 35px;
	line-height: 36px;
	text-align: center;
	color: #fff;
	font-size: 100%;
}
}
#login:hover{background:url(../../Images/login-hover.png);}
#admin{font-size: 70%;color: }
#blank {
width:100%;min-width:1300px;height:10px; position:absolute;top:-10px; background-color:black;color:black;
}
